* {
  padding: 0;
  margin: 0;
}

/*HEADER*/
.header {
  background-color: #282c34;
  padding: 3% 0;
}

.hdt h1 {
  color: whitesmoke;
}

/*CENTRO*/

.col-4 {
  text-align: center;
}

/*FOOTER*/
.footer {
  background-color: #282c34;
  padding: 3% 0;
}

.fdt p {
  color: whitesmoke;
}
